{% extends '_layouts/cp' %}

{% set title = 'JWTs'|t('jwt-manager') %}

{# Find JWTs for current page #}
{% set currentPage = craft.app.request.getPageNum() %}
{% set limit = 50 %}
{% set offset = (currentPage - 1) * limit %}
{% set jwts = craft.jwtManager.jwts.getAllJwts(limit, offset) %}
{% set totalJwts = craft.jwtManager.jwts.getTotalJwts() %}
{% set totalPages = totalJwts / limit %}

{% block actionButton %}
    <a href="{{ url('jwt-manager/jwts/new') }}" class="btn submit add icon">{{ 'Create a new JWT'|t('jwt-manager') }}</a>
{% endblock %}

{% block content %}
    <p id="nojwts"{% if jwts %} class="hidden"{% endif %}>
        {{ "No JWTs exist yet."|t('jwt-manager') }}
    </p>

    {% if jwts %}
        <table id="jwts" class="data fullwidth collapsible">
            <thead>
                <th scope="col">{{ "ID"|t('app') }}</th>
                <th scope="col">{{ "Related"|t('jwt-manager') }}</th>
                <th scope="col">{{ "User"|t('app') }}</th>
                <th scope="col">{{ "Type"|t('jwt-manager') }}</th>
                <th scope="col">{{ "Token"|t('jwt-manager') }}</th>
                <th scope="col">{{ "Times used"|t('jwt-manager') }}</th>
                <th scope="col">{{ "Date Used"|t('jwt-manager') }}</th>
                <th scope="col">{{ "Date Created"|t('app') }}</th>
                <td class="thin"></td>
            </thead>
            <tbody>
                {% for jwt in jwts %}
                    {% set user = jwt.getUser() %}

                    <tr data-id="{{ jwt.id }}" data-name="{{ jwt.id }}">
                        <td scope="row" data-title="{{ 'ID'|t('app') }}"><a href="{{ url('jwt-manager/jwts/edit/' ~ jwt.id) }}">{{ jwt.id }}</a></td>
                        <td data-title="{{ 'Related'|t('jwt-manager') }}">{{ jwt.relatedId|length ? jwt.relatedId : 'None.'|t('jwt-manager') }}</td>
                        <td data-title="{{ 'User'|t('app') }}">{{ user|length ? (user.getFullName()|length ? user.getFullName() : user.username) : 'No user.'|t('jwt-manager') }}</td>
                        <td data-title="{{ 'Type'|t('jwt-manager') }}">{{ jwt.getTypeName() }}</td>
                        <td data-title="{{ 'Token'|t('jwt-manager') }}"><span class="info">{{ jwt.token }}</span></td>
                        <td data-title="{{ 'Times used'|t('jwt-manager') }}">{{ jwt.timesUsed }}</td>
                        <td data-title="{{ 'Date Used'|t('jwt-manager') }}">{{ jwt.dateUsed|length ? jwt.dateUsed|datetime('short') : 'Not used.'|t('jwt-manager') }}</td>
                        <td data-title="{{ 'Date Created'|t('app') }}">{{ jwt.dateCreated|datetime('short') }}</td>
                        <td class="thin"><a class="delete icon" title="{{ 'Delete'|t('app') }}" role="button"></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if totalPages > 1 %}
            <br>
            <div class="centeralign">
                <a href="{{ url('jwt-manager/jwts') }}">{{ 'First Page'|t('jwt-manager') }}</a> |
                {% for page in 1..totalPages %}
                    <a href="{{ url('jwt-manager/jwts/p' ~ page) }}">
                        {% if page == currentPage %}
                            <strong>{{ page }}</strong>
                        {% else %}
                            {{ page }}
                        {% endif %}
                    </a> |
                {% endfor %}
                <a href="{{ url('jwt-manager/jwts/p' ~ totalPages) }}">{{ 'Last Page'|t('jwt-manager') }}</a>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}

{% css %}
    .info-hud { word-wrap: break-word; }
{% endcss %}

{% js %}
    new Craft.AdminTable({
        tableSelector: '#jwts',
        noItemsSelector: '#nojwts',
        deleteAction: 'jwt-manager/jwts/delete'
    });
{% endjs %}
